<!DOCTYPE html>
<html>

<head>
    <title>Data Logger</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/scripts/datalogger.css">
</head>

<body>
    <div id="app">
        <table border="0" cellpadding="0" width="100%">

            <!-- header -->
            <tr>
                <td>
                    <table border="0" cellpadding="0" width="100%">
                        <tr>
                            <td width="20%" align="center">
                                <!-- empty -->
                            </td>
                            <td width="60%" align="center">
                                <h2>Data Logger</h2>
                            </td>
                            <td width="20%" align="center">
                                <button :disabled="authenticated" @click="doLogin">Login</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <!-- date time -->
            <tr>
                <td align="center">
                    <hr width="95%">
                    <table border="0" cellspacing="10" cellpadding="3">
                        <tr>
                            <td align="right" valign="top">
                                <b>Data Logger UTC Time:</b>
                            </td>
                            <td align="left" valign="top">
                                {{ dateRTC }}
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top">
                                <b>Browser UTC Time:</b>
                            </td>
                            <td align="left" valign="top">
                                {{ dateBrowser }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center" valign="top">
                                <button :disabled="isDisabled" @click="syncronizeDate">Syncronize</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <!-- timer scheduler -->
            <tr>
                <td align="center">
                    <hr width="95%">
                    <table border="0" cellspacing="10" cellpadding="3">
                        <tr>
                            <td align="right" valign="top">
                                <b>Timer in Minutes:</b>
                            </td>
                            <td align="left" valign="top">
                                <input type="number" min="0" max="255" v-model.number="timerMinutes">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center" valign="top">
                                <button :disabled="isDisabled" @click="setTimer">Save</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <!-- system settings -->
            <tr>
                <td align="center">
                    <hr width="95%">
                    <table border="0" cellspacing="10" cellpadding="3">
                        <tr>
                            <td align="right" valign="top">
                                <b>WiFi SSID:</b>
                            </td>
                            <td align="left" valign="top">
                                <input :disabled="isDisabled" v-model="wifiSSID">
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top">
                                <b>WiFi Password:</b>
                            </td>
                            <td align="left" valign="top">
                                <input :disabled="isDisabled" v-model="wifiPassword" type="password">
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top">
                                <b>HTTP User:</b>
                            </td>
                            <td align="left" valign="top">
                                <input :disabled="isDisabled" v-model="httpUser">
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top">
                                <b>HTTP Password:</b>
                            </td>
                            <td align="left" valign="top">
                                <input :disabled="isDisabled" v-model="httpPassword" type="password">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center" valign="top">
                                <button :disabled="isDisabled" @click="setSystemSettings">Save</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <!-- footer -->
            <tr>
                <td>
                    <hr width="95%">
                    <table border="0" cellpadding="0" width=100%>
                        <tr>
                            <td align="center">
                                <p>Firmware Version: {{ firmware }}</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>
    </div>

    <!-- vendor -->
    <script type="module" src="/vendor/axios.min.js"></script>
    <script type="module" src="/vendor/vue.min.js"></script>

    <!-- application -->
    <script type="module" src="/scripts/app.js"></script>
</body>

</html>