<!DOCTYPE html>
<html>

<head>
    <title>Data Logger</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/scripts/datalogger.css">
    <noscript>
        <style type="text/css">
            #app {
                display: none;
            }
        </style>
        <p>JavaScript unavailable</p>
    </noscript>
</head>

<body>
    <div id="app">
        <table border="0" cellpadding="0" width="100%">

            <!-- header -->
            <tr>
                <td>
                    <table border="0" cellpadding="0" width="100%">
                        <tr>
                            <td width="20%" align="center">
                                <!-- empty -->
                            </td>
                            <td width="60%" align="center">
                                <h2>Data Logger</h2>
                            </td>
                            <td width="20%" align="center">
                                <button v-bind:disabled="authenticated" v-on:click="doLogin">Login</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <hr width="95%">
                </td>
            </tr>

            <!-- date time -->
            <tr>
                <td align="center">
                    <table border="0" cellspacing="10" cellpadding="3">
                        <tr>
                            <td align="right" valign="top">
                                <b>Data Logger UTC Time:</b>
                            </td>
                            <td align="left" valign="top">
                                {{ dateRTC }}
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top">
                                <b>Browser UTC Time:</b>
                            </td>
                            <td align="left" valign="top">
                                {{ dateBrowser }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center" valign="top">
                                <button v-bind:disabled="isDisabled" v-on:click="syncronizeDate">Syncronize</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <hr width="95%">
                </td>
            </tr>

            <!-- timer scheduler -->
            <tr>
                <td align="center">
                    <table border="0" cellspacing="10" cellpadding="3">
                        <tr>
                            <td align="right" valign="top">
                                <b>Timer in Minutes:</b>
                            </td>
                            <td align="left" valign="top">
                                <input type="number" min="0" max="255" v-model="timerMinutes">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center" valign="top">
                                <button v-bind:disabled="isDisabled" v-on:click="setTimer">Save</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <hr width="95%">
                </td>
            </tr>

            <!-- log files -->
            <tr>
                <td align="center">
                    <table>
                        <tr>
                            <td align="center" valign="top">
                                <b>Log File:</b>
                            </td>
                            <td align="center" valign="top">
                                <select v-on:change="getMonths" v-model="logs.selectedYear">
                                    <option value="" disabled>Select Year</option>
                                    <option v-for="year in logs.years">
                                        {{ year }}
                                    </option>
                                </select>
                            </td>
                            <td align="center" valign="top">
                                <select v-on:change="getDays" v-model="logs.selectedMonth">
                                    <option value="" disabled>Select Month</option>
                                    <option v-for="month in logs.months">
                                        {{ month }}
                                    </option>
                                </select>
                            </td>
                            <td align="center" valign="top">
                                <select v-on:change="showLogfile" v-model="logs.selectedDay">
                                    <option value="" disabled>Select Day</option>
                                    <option v-for="day in logs.days" v-bind:key="day.file">
                                        {{ day.file }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" align="left" valign="top">
                                <pre id="logview">{{ logs.file }}</pre>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <button v-bind:disabled="!logs.file" v-on:click="showLogfile">Refresh</button>
                            </td>
                            <td colspan="2" align="center" valign="top">
                                <button v-bind:disabled="!logs.file" v-on:click="saveLogfile">Download</button>
                            </td>
                            <td align="center" valign="top">
                                <button v-bind:disabled="!logs.file || isDisabled"
                                    v-on:click="deleteLogfile">Delete</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <hr width="95%">
                </td>
            </tr>

            <!-- system settings -->
            <tr>
                <td align="center">
                    <table border="0" cellspacing="10" cellpadding="3">
                        <tr>
                            <td align="right" valign="top">
                                <b>WiFi SSID:</b>
                            </td>
                            <td align="left" valign="top">
                                <input v-bind:disabled="isDisabled" v-model.trim="wifiSSID">
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top">
                                <b>WiFi Password:</b>
                            </td>
                            <td align="left" valign="top">
                                <input v-bind:disabled="isDisabled" v-model="wifiPassword" type="password">
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top">
                                <b>HTTP User:</b>
                            </td>
                            <td align="left" valign="top">
                                <input v-bind:disabled="isDisabled" v-model.trim="httpUser">
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top">
                                <b>HTTP Password:</b>
                            </td>
                            <td align="left" valign="top">
                                <input v-bind:disabled="isDisabled" v-model="httpPassword" type="password">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center" valign="top">
                                <button v-bind:disabled="isDisabled" v-on:click="setSystemSettings">Save</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <hr width="95%">
                </td>
            </tr>

            <!-- modbus settings -->
            <tr>
                <td align="center">
                    <table border="0" cellspacing="10" cellpadding="3">
                        <tr>
                            <td align="right" valign="top">
                                <b>Modbus:</b>
                            </td>
                            <td align="left" valign="top">
                                <select @change="getConfig" v-model="config.slot">
                                    <option value="" disabled>Select Slot</option>
                                    <option v-for="slot in modbusSlots">
                                        {{ slot }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top">
                                <b>Device Address:</b>
                            </td>
                            <td align="left" valign="top">
                                <input type="number" v-model="config.deviceAddress">
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top">
                                <b>Function Code:</b>
                            </td>
                            <td align="left" valign="top">
                                <input type="number" v-model="config.functionCode">
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top">
                                <b>Register Address:</b>
                            </td>
                            <td align="left" valign="top">
                                <input type="number" v-model="config.registerAddress">
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top">
                                <b>Value Type:</b>
                            </td>
                            <td align="left" valign="top">
                                <input v-model.trim="config.valueType">
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top">
                                <button v-bind:disabled="!config.slot" v-on:click="getValue">Test:</button>
                            </td>
                            <td align="left" valign="top">
                                <input v-model.trim="modbusValue" readonly>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center" valign="top">
                                <button v-bind:disabled="isDisabled" v-on:click="setConfig">Save</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <hr width="95%">
                </td>
            </tr>

            <!-- serial1 settings -->
            <tr>
                <td align="center">
                    <table border="0" cellspacing="10" cellpadding="3">
                        <tr>
                            <td align="right" valign="top">
                                <b>Baud Rate:</b>
                            </td>
                            <td align="left" valign="top">
                                <input type="number" v-model.trim="serial1Baud">
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top">
                                <b>Data Bits, Partity, Stop Bits:</b>
                            </td>
                            <td align="left" valign="top">
                                <input v-model="serial1Config">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center" valign="top">
                                <button v-bind:disabled="isDisabled" v-on:click="setSerial1Settings">Save</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <hr width="95%">
                </td>
            </tr>

            <!-- footer -->
            <tr>
                <td>
                    <table border="0" cellpadding="0" width=100%>
                        <tr>
                            <td align="center">
                                <p>Firmware Version: {{ firmware }}</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <!-- vendor -->
    <script type="module" src="/vendor/axios.min.js"></script>
    <script type="module" src="/vendor/vue.min.js"></script>

    <!-- application -->
    <script type="module" src="/scripts/app.js"></script>
</body>

</html>
